.form_so {
  width: 300px;
  margin: 100px 0;

  .container_input {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    width: 400px;
    
    label {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: left;
      
      color: #333333;
    }
    
    input {
      height: 44px;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.04);
    }
    .errors {
      height: 8px;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 16px;
      color: #f84a62;
    }
  }
  .container_select {
    display: flex;
    flex-direction: column;
    margin: 18px 0;
    width: 400px;
  
    label {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: left;
  
      color: #333333;
    }
  
    .select {
      height: 44px;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.04);
    }
  }
}