.App {
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: #f4f4f5;

  font-family: "SB Sans Interface", Helvetica, sans-serif;
}
