body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "SB Sans Interface", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "SB Sans Interface", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {font-family: "SB Sans Interface";
  src: url("http://db.onlinewebfonts.com/t/37086b994764dba84b2ee0f1083bfeed.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/37086b994764dba84b2ee0f1083bfeed.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("http://db.onlinewebfonts.com/t/37086b994764dba84b2ee0f1083bfeed.woff2") format("woff2"), /* chrome firefox */
  url("http://db.onlinewebfonts.com/t/37086b994764dba84b2ee0f1083bfeed.woff") format("woff"), /* chrome firefox */
  url("http://db.onlinewebfonts.com/t/37086b994764dba84b2ee0f1083bfeed.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("http://db.onlinewebfonts.com/t/37086b994764dba84b2ee0f1083bfeed.svg#SB Sans Interface") format("svg"); /* iOS 4.1- */
}