.container {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 17px;
}

.img {
  width: 12px;
  height: 12px;
  background-image: url("./assets//Vector.png");
}

.link_name {
  text-decoration: none;
  color: #5558FA;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 0 6px;
}

.container:last-child {
  padding-right: 0;
}